@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@plugin 'daisyui' {
    root: ":root";
    themes: fajarpb --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "fajarpb";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.002 247.839);
    --color-base-200: oklch(96% 0.003 264.542);
    --color-base-300: oklch(92% 0.006 264.531);
    --color-base-content: oklch(21% 0.034 264.665);
    --color-primary: oklch(55% 0.046 257.417);
    --color-primary-content: oklch(98% 0.016 73.684);
    --color-secondary: oklch(70% 0.022 261.325);
    --color-secondary-content: oklch(98% 0.003 247.858);
    --color-accent: oklch(86% 0.022 252.894);
    --color-accent-content: oklch(37% 0.044 257.287);
    --color-neutral: oklch(37% 0 0);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(64% 0.2 131.684);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

[x-cloak] {
    display: none !important;
}

@theme {
    --font-sans: "Lexend";
}

body {
    @apply font-sans;
}
