---
import type { BlockInterface, HeroContentType } from "../../config/blocks.type";

interface Props extends BlockInterface<HeroContentType> {}

const { name, contents } = Astro.props;
const content: HeroContentType = contents;
---

<section id={name} class="relative py-32 lg:py-64">
    <div class="container mx-auto flex flex-col">
        <div class="relative">
            <h1 class="text-4xl lg:text-6xl">{content.title}</h1>
            <h3 class="text-md lg:text-xl my-4">{content.subtitle}</h3>
        </div>
    </div>
</section>
