---
import { Site } from "../config/site";
---

<footer class="footer sm:footer-horizontal footer-center text-base-content/50 text-xs p-4">
    <aside>
        <p>© {new Date().getFullYear()} {Site.title} | {Site.description}</p>
    </aside>
</footer>
